---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout
  title="Not found"
  description="I didn't implemente that"
>
  <Header />
  <main class="hero min-h-screen">
    <div class="hero-content flex flex-col text-center">
      <div class="max-w-lg">
        <div class="p-4">
          <h1 class="text-5xl font-black">
            Désolé, je n'ai pas implémenté cela.
          </h1>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
