
.cripto-toggle-button {
    display: inline-flex;
    align-items: center;
    border-radius: 1.5rem;
    padding: 12px;
}

button{
    background: #190482;
    color: #C2D9FF;
    display: flex;
    align-items: center;
    border: solid #7752FE;
}

button:hover {
    border: solid #8E8FFA;
}
