/* Chrome */
input[type=number] ::-webkit-inner-spin-button ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  opacity: 1;
}

/* Mozilla */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
