<nav class="flex justify-between sm:mx-4">
    <!-- TODO: Implement menu option to mobile devices -->
    <!-- <img class="hidden w-8 sm:block" src="/menu.svg" alt="menu" /> -->
    <div class="flex ml-4" >
        <a href="https://copydataai.com">
            <img class="w-9" src="/copydataai.svg" alt="copydataai-logo" />
        </a>
        <ul class="flex align-center mx-4 ">
            <li class="p-3">
                <a href="/number-system/">Number System</a>
            </li>
            <li class="p-3">
                <a href="/criptology/">Criptology</a>
            </li>
        </ul>
    </div>
</nav>
