<nav class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <img class="h-5 w-5" src="/menu.svg"/>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/number-system">Number system</a></li>
        <li><a href="/criptology">Criptology</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href="https://copydataai.com">Jose Sanchez</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/number-system">Number system</a></li>
      <li><a href="/criptology">Criptology</a></li>
    </ul>
  </div>
</nav>
