<nav class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <img class="h-5 w-5" src="/menu.svg"/>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/number-system">Number system</a></li>
        <li><a href="/cryptology">Cryptology</a></li>
        <li>
          <a class="" href="/">Matrices
          <span class="badge badge-xs badge-secondary">soon</span>
          </a>
        </li>
        <li>
          <a class="" href="/">Functions
          <span class="badge badge-xs badge-secondary">soon</span>
          </a>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href="https://maths.copydataai.com">Essential Maths</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/number-system">Number system</a></li>
      <li><a href="/cryptology">Cryptology</a></li>
      <li>
        <a class="" href="/">Matrices
        <span class="badge badge-xs badge-secondary">soon</span>
        </a>
      </li>
      <li>
        <a class="" href="/">Functions
        <span class="badge badge-xs badge-secondary">soon</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- TODO: Implement toggle dark mode
  <div class="navbar-end">
        <button
            id="theme-btn"
            class="swap swap-rotate focus-outline"
            title="Toggles light & dark"
            aria-label="auto"
            aria-live="polite"
        >
            <img class="swap-on fill-current w-10 h-10" src="/sun-icon.svg" alt="sun-icon" />
            <img class="swap-off fill-current w-10 h-10" src="/sun-icon.svg" alt="sun-icon" />
        </button>
  </div> -->
</nav>
