<nav class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown rounded lg:hidden">
      <label class="btn btn-accent swap swap-rotate">
  
        <!-- this hidden checkbox controls the state -->
        <input type="checkbox" />
        
        <!-- hamburger icon -->
        <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
        
        <!-- close icon -->
        <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>
        
      </label>
      <ul class="menu dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/number-system">Number system</a></li>
        <li><a href="/cryptology">Cryptology</a></li>
        <li>
          <a class="" href="/functions">Functions</a>
        </li>
        <li>
          <a class="" href="/matrices">Matrices
          </a>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href="/">Essential Maths</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/number-system">Number system</a></li>
      <li><a href="/cryptology">Cryptology</a></li>
      <li>
        <a class="" href="/functions">Functions</a>
      </li>
      <li>
        <a class="" href="/matrices">Matrices
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <label class="swap swap-rotate">
  
      <input type="checkbox" class="theme-controller" value="synthwave" />
      
      <img class="swap-on fill-current w-10 h-10" src="/sun-icon.svg" alt="sun-icon">
      
      <img class="swap-off fill-current w-10 h-10" src="/moon-icon.svg" alt="moon-icon">
      
    </label>
  </div>
</nav>
<script is:inline>
  const primaryColorScheme = ""; // "synthwave" | "bumblebee"

  // Get theme data from local storage
  const currentTheme = localStorage.getItem("theme");

  function getPreferTheme() {
    // return theme value in local storage if it is set
    if (currentTheme) return currentTheme;

    // return primary color scheme if it is set
    if (primaryColorScheme) return primaryColorScheme;

    // return user device's prefer color scheme
    return window.matchMedia("(prefers-color-scheme: synthwave)").matches
      ? "synthwave"
      : "bumblebee";
  }

  let themeValue = getPreferTheme();

  function setPreference() {
    localStorage.setItem("theme", themeValue);
    reflectPreference();
  }

  function reflectPreference() {
    document.firstElementChild.setAttribute("data-theme", themeValue);

    document.querySelector(".theme-controller")?.setAttribute("aria-label", themeValue);

    // Get a reference to the body element
    const body = document.body;

    // Check if the body element exists before using getComputedStyle
    if (body) {
      // Get the computed styles for the body element
      const computedStyles = window.getComputedStyle(body);

      // Get the background color property
      const bgColor = computedStyles.backgroundColor;

      // Set the background color in <meta theme-color ... />
      document
        .querySelector("meta[name='theme-color']")
        ?.setAttribute("content", bgColor);
    }
  }

  reflectPreference();

  window.onload = () => {
    function setThemeFeature() {
      // set on load so screen readers can get the latest value on the button
      reflectPreference();

      // now this script can find and listen for clicks on the control
      document.querySelector(".theme-controller")?.addEventListener("click", () => {
        themeValue = themeValue === "bumblebee" ? "synthwave" : "bumblebee";
        setPreference();
      });
    }

    setThemeFeature();

    // Runs on view transitions navigation
    document.addEventListener("astro:after-swap", setThemeFeature);
  };

  // sync with system changes
  window
    .matchMedia("(prefers-color-scheme: synthwave)")
    .addEventListener("change", ({ matches: isSynthwave }) => {
      themeValue = isSynthwave ? "synthwave" : "bumblebee";
      setPreference();
    });

</script>
