<footer class="footer footer-center rounded bg-base-200 p-10 text-base-content">
  <aside>
    <p class="text-base font-bold">
      Made with ❤️ with <a
        class="link-hover link-primary link"
        href="https://astro.build/">Astro</a
      > by <a class="link-hover link-primary link" href="https://copydataai.com"
        >Jose Sanchez</a
      >.
    </p>
  </aside>
</footer>
