---
---


<footer class="flex justify-center align-center mt-11">
    <div>
        <strong >Made with <a class="text-primary-300" href="https://astro.build">Astro</a> by <a class="text-primary-300" href="https://copydataai.com">Jose Sanchez</a></strong>
    </div>
</footer>
