---
---


<footer class="footer">
    <div class="greetings">
        <strong>Made with <a href="https://astro.build">Astro</a> by <a href="https://copydataai.com">Jose Sanchez</a></strong>
    </div>
</footer>


<style is:global>
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
 }


 .greetings strong {
     color: #F5E8C7;
 }
 .greetings strong a {
     text-decoration: none;
     color: #818FB4;
 }

</style>
